<html>
<head>
    <title>Protected Page</title>
</head>
<body>
<h1>Hello, you can search on this page!</h1>
</body>
<center>
	<form method="POST" action="">
      Enter search term: <input type="text" name="searchText">
      <input type="submit" name="submit" value="Submit">
    </form>
    <br>

	<div>
	<button id="tab1">Wikipedia</button>
	<button id="tab2">Flickr</button>
	<button id="tab3">Twitter</button>
	</div>
	</center>

	{% if wikiText %}
      <img src={{wikiImage}}></img>
	  {{wikiText}}!
    {% endif %}
  </body>
</html>
